.product{
    height:600px;
    width: 400px;
    background-color: var(--white);   
    margin: auto; 
}
.product>img{
    width: 100%;
    object-fit: cover;
}
.product h3{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.05em;
}
.product h5{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.05em;

}

.product button{
    padding: 5px 10px;
    gap: 0px;
    opacity: 0px;
    border: none;

}
.icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 100px;
    background-color: rgb(201, 196, 196);
}
.product-title{
    font-size: 30px;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: -0.05em;
    margin-bottom: 25px;
}

@media (max-width:1024px) {
  
    .product-container,.product-all{
        max-width: 671px;
        margin: auto;
    }
}

@media (max-width:683px) {
    .product-container,.product-all{
        max-width: 318px;
        margin: auto;
    }
    .product-title{
        font-size: 20px;
        font-weight: 500;
        line-height: 12px;
        letter-spacing: -0.05em;
        
    }
    .product{
        height:520px ;
    }
}

@media (max-width:1030px) {
    .product-title{
        text-align: center;
    }
}