.product{
    height:500px;
    width: 300px;
    background-color: var(--white);   
    margin: auto; 
    margin-bottom: 20px;
}
.product>img{
    width: 100%;
    object-fit: cover;
}
.product-title{
    margin-left: 20px;
}
.product h3{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.05em;
}
.product h5{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.05em;

}

.product button{
    padding: 5px 10px;
    gap: 0px;
    opacity: 0px;
    border: none;

}

.product button:hover{
    background-color: #454242;
    cursor: pointer;
}

.product button:active{
    scale: 0.97;
}
.icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 100px;
    background-color: rgb(201, 196, 196);
}
.product-title{
    font-size: 30px;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: -0.05em;
    margin-bottom: 25px;
}
.container-sm{
    flex-shrink: 2;
    max-width: 1040px;
    overflow: hidden;
    gap: 20px;
}

@media (max-width:425px) {
    .product{
        width: 150px;
        height: 440px !important;
    }
}


@media (max-width:910px) {
    .product{
        width: 250px;
        height:450px;
    }
    .product-cnt{
        max-width: 560px;
        margin: 0 auto;
    }
}
@media (max-width:968px) {
    .container-sm{
        flex-shrink: 2;
        max-width:680px;
        overflow: hidden;
        gap: 20px !important;
    }
    .product-title{
        margin-left: 0;
    }
}
@media (max-width:683px) {
    .product-title{
        font-size: 20px;
        font-weight: 500;
        line-height: 12px;
        letter-spacing: -0.05em;
    }
    .product{
        height:470px ;
    }
}

@media (max-width:1030px) {
    .product-title{
        text-align: center;
    }
}