.checkout > li {
    border:0.5px solid #9B9B9B; 
}

.checkout{
    width: 658px;
    margin-top: 10px;
    min-width: 420px;
    border-collapse: collapse;
}

.checkout  .cart-price{
    font-size: 15px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: -0.05em;
    color: #333333;

}

.checkout .cart-title{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.05em;
}

.checkout .cart-des{
    font-size: 12px;
    font-weight: 200;
    letter-spacing: -0.05em;
    margin-top: 3px;
}

.checkout-arrow{
    gap: 10px;
    margin-bottom: 20px;
}

.checkout-arrow >h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 3px;
}

.payment{
    min-width: 340px;
    height: 540px;
    padding: 40px;
    border-radius: 12px;
    background: #333333;
}
.payment p,.payment span,.payment h2,.payment label{
    color: var(--white) !important;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.05em;
}
.payment h2{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -0.05em;

}
.checkout-container{
    flex-wrap: wrap;
}

.payment > *{
    margin-bottom: 30px;
}


.payment p{
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.05em;
}

.payment input[type="text"]{
    font-size: larger;
    border: none;
    outline: none;
    background-color: transparent;
    height: 40px;
    color: #ffffff9e;
}

.payment input::placeholder{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.05em;
    color: #FFFFFF66;

}

.payment input:focus{
    border-bottom: 0.5px solid white ;
    outline: none;
    background-color: transparent;
}


.payment button{
    width: 100%;
    font-size: large;
    padding: 15px 0;
    background-color: white;
    color: black;
    border: none;
    font-weight: 600;
    margin-bottom: 20px;
}

.exp-date{
    width: 120px;
}

.cvv{
    width: 50px;
}

.text-field{
    width: 200px;
}