
ul.navs{
    display: flex;
}
.nav-title{
font-size: 32px;
font-weight: 500;
line-height: 32px;
letter-spacing: -0.05em;
margin-bottom: 5px;
}
.cart{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sch-icon{
    margin-left: auto;
}
.menu-icon:hover{
    cursor: pointer;
}
.mobile{
    display: none;
    position: absolute;
}

.left{
    margin-left: auto;

}
.input > input{
    width: 629px;
    height: 47px;
    font-size: 20px;
    background-color: #E8E8E8;
    border: none;
    outline: none;
    border-radius: 49px;
    padding: 5px 20px;
    color: var(--black);
}
.mobile-icons{
    gap: 15px;
}
.input > input::placeholder{
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: -0.05em;
    color: #909090;
}
@media (max-width:400px) {
    .mobile{
    display:inline-block;
    position: relative;
    }
    .desktop,.desktop>li{
    display: none;
    position: absolute;
    }
}

@media (max-width:1122px) {
    .input > input{
        width: 400px;
    }
}

@media (max-width:900px) {
    .input > input{
        width: 350px;
    }
    
}