
ul.navs{
    display: flex;
}
.nav-title{
font-size: 32px;
font-weight: 500;
line-height: 32px;
letter-spacing: -0.05em;
text-align: center;
}
.cart{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-icon{
    margin-left: auto;
}
.menu-icon:hover{
    cursor: pointer;
}
.mobile{
    display: none;
}

@media (max-width:860px) {
    .mobile{
    display:inline-block;
    }
    .desktop,.desktop>li{
    display: none;
    }
}
  