footer{
    background-color:#333333 ;
}
.footer-container  *{
    color: var(--white) !important;
}


@media (max-width:600px) {
    footer{
        min-width: 600px;
    }
}

@media (max-width:540px) {
    footer{
        min-width: 342px;
    }
}