footer{
    background-color:#333333 ;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    
}
.footer-container  *{
    color: var(--white) !important;
}


@media (max-width:600px) {
    footer{
        min-width: 600px;
    }
}

@media (max-width:540px) {
    footer{
        min-width: 342px;
    }
}