footer{
    background-color:#333333 ;
}
.footer-container{
    max-width: 385px;
    gap: 50px;
    margin: auto;
}
.footer-container  *{
    color: var(--white) !important;
}

footer .logos{
    max-width: 202px;
    gap: 26px;
}

.logos >h1{
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: -0.05em;
    text-wrap: nowrap;
}
footer p{
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -0.05em;
}

@media (max-width:600px) {
    footer{
        min-width: 600px;
    }
}

@media (max-width:540px) {
    footer{
        min-width: 342px;
    }
}