.grid-3{
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    justify-content: space-between;
}
.item{
    padding: 20px;
    min-width: 220px;
    display: flex;   
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.item >img{
    width:100%;
    min-width: 94px;
    height: 190px;
    object-fit: contain;
}
.container-sm{
    flex-shrink: 2;
    max-width: 1100px;
    overflow: hidden;
    gap: 20px;
    /* min-width: ; */
}

.sm-btn{
    display: none;
}
@media (max-width:860px) {
    .item >img{
        min-width:none;
        height: auto;
    }
    .container-sm{
        gap: 4px !important;
        min-width: 310px;
    }
    .item{
        padding: 5px;
        min-width: 320px;
        min-width: 70px;
    }
    
}

@media (max-width:532px) {
    .sm-btn{
        display: inline-block;
    }
    .lg-btn{
        display: none;
    }
}