#sidenav{
    position: fixed;
    top: 0;
    background-color: var(--white);
    background: var(--white);
    width: 620px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#sidenav{
    transition: all 500ms ease-out;
    z-index: 101;
}

#sidenav > li {
    border-bottom:0.5px solid #9B9B9B; 
}
.cart-item{
    width: 100%;
}
/* my modal overlay  */
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 100;
}
.hidden{
    right:-700px;
}
.show{
    right: 0;
}

.cart-title{
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.05em;
}

.cart-des{
    font-size: 13px;
    font-weight: 270;
    letter-spacing: -0.05em;
    color: #333333;
    margin-top: -5px;
}
.remove{
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.05em;
    color: #D80000;
    cursor: pointer;
    margin-top: 10px;
}

.cart-icon{
    gap: 10px;
}

@media (max-width:620px) {
    #sidenav{
        width: 500px;
    }
}

@media (max-width:600px) {
    #sidenav{
        width: 320px;
    }
    .cart-title{
        font-weight: 500;
        font-size:14px ;
    }
    .cart-price{
        font-weight: 500;
        font-size:12px ;
    }
}